* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #DEA74E;
    font-family: "Holtwood One SC", serif;
    color: #fff;
    text-align: center;
    min-height: 127px;
}

.titu {
    font-size: 17px;
    text-align: center;
}

.teto {
    font-family: "Homenaje", sans-serif;
}

button {
    background-color: #BF8F41;
    border: none;
    width: 127px;
    height: 127px;
}

.rick {
    position: absolute;
    top: 0px;
    left: 0px;
}

.omega {
    position: absolute;
    top: 0px;
    right: 0px;
}

img {
    width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: "Holtwood One SC", serif;
    font-size: 48px;
    text-align: center;
}