* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #DEA74E;
    font-family: "Holtwood One SC", serif;
    color: #fff;
    text-align: center;
    min-height: 127px;
    max-height: 127px;
}

.titu {
    font-size: 17px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.delta {
    font-family: 'Courier New', Courier, monospace;
    font-size: 96px;
    line-height: 0.7;
}

.teto {
    font-family: "Homenaje", sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.teto h1, h2{
    color: #000;
    text-align: center;
    font-family: "Holtwood One SC", serif;
}

.teto p {
    text-align: center;
    font-family: "Homenaje", sans-serif;
    font-size: 20px;
}

button {
    background-color: #BF8F41;
    border: none;
    width: 127px;
    height: 127px;
}

.rick {
    position: absolute;
    top: 0px;
    left: 0px;
}

.omega {
    position: absolute;
    top: 0px;
    right: 0px;
}

img {
    width: 100%;
}

.barra {
    width: 100%;
    height: 22px;
    background-color: #DEA74E;
    margin-top: -17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.jagare img {
    width: 339px;
    height: 339px;
    position: absolute;
    right: 50px;
    margin-top: 50px;
    box-shadow: 0px 4px 50px #DB6F14;
}

.jagare h1, .jagare p {
    text-align: right;
    position: absolute;
    right: 420px;
    margin-top: 60px;
}

.jagare p {
    margin-top: 160px;
}

.jagare h3 {
    color: #DB4C14;
    font-family: "Holtwood One SC", serif;
    text-align: center;
    font-size: 15px;
    position: absolute;
    margin-top: 260px;
    margin-left: 700px;

}

.golpe {
    position: absolute;
}

.golpe h2 {
    background-color: #D9D9D9;
    width: 289px;
    height: 45px;
    margin-left: 20px;
}

.golpe h3 {
    font-family: "Holtwood One SC", serif;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 35px;
    box-shadow: 4px 4px 0px #000;
}

.oswaldo {
    position: absolute;
    margin-top: 500px;
}

.oswaldo h2 {
    position: absolute;
    top: 15px;
    margin-left: 15px;
     text-align: left;
}

.oswaldo li {
    font-size: 25px;
}

.oswaldo img {
    position: absolute;
    width: 313px;
    height: 258px;
    top: 150px;
    right: 80px;
}

.oswaldo p{
    position: absolute;
    text-align: center;
    font-size: 25px;
    margin-top: -25px;
    right: 100px;
}

.barra2 {
    background-color: #D9D9D9;
    width: 709px;
    height: 68px;
}

.listao {
    background-color: #D9D9D9;
    margin-top: 25px;
    width: 720px;
    height: 387px;
}

.reclama {
    position: absolute;
    text-align: right;
    margin-top: 700px;
    right: 20px;
}

.reclama img {
    width: 208px;
    height: 208px;
    margin-top: 10px;
}

.diferencial {
    position: absolute;
    margin-top: 800px;
    right: 410px;
    
}

.diferencial p {
    text-align: left;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: "Holtwood One SC", serif;
    font-size: 48px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
    position: absolute;
    margin-top: 1000px;
}